useDynLib(mzR)

importClassesFrom(Biobase, "Versioned")
importFrom(Biobase, validMsg)
importFrom(Rcpp, "loadRcppModules")

##exportPattern("^[[:alpha:]]+")

export(openMSfile)

exportMethods(close,
              isInitialized,
              initializeRamp,
              runInfo,
              fileName,
              instrumentInfo,
              manufacturer,
              model,
              ionisation,
              analyzer,
              detector,
              header,
              peaksCount,
              peaks,
              get3Dmap)

exportClasses("mzR",
              "mzRramp",
              "mzRnetCDF")

