useDynLib(mzR)

import(methods)

importClassesFrom(Biobase, "Versioned")
importFrom(Biobase, validMsg)
##importFrom(Rcpp, "loadRcppModules")
import(Rcpp)

export(openMSfile)

exportMethods(close,
              isInitialized,
              initializeRamp,
              runInfo,
              fileName,
              instrumentInfo,
              chromatogramsInfo,
              manufacturer,
              model,
              ionisation,
              analyzer,
              detector,
              header,
              peaksCount,
              peaks,
              get3Dmap,
              writeMSfile)

exportClasses("mzR",
              "mzRramp",
              "mzRnetCDF",
              "mzRpwiz")

